include button

mixin ctaControls(control)
  each button in control.buttons
    if button.type == 'link'
      a.form__link(href=button.link)= button.text
    else
      +buttonBasic(button.text, button.classes, button.type)

mixin inputCustom(input)
  case input.tag
    when 'textarea'
      textarea(
        class=`form__textarea ${input.classes}`,
        cols=input.cols,
        rows=input.rows
      ) 
    default
      input(type=input.type, class=`form__input ${input.classes}`)

mixin controls(control)
  case control.tag
    when 'button'
      .form__cta
        +ctaControls(control)
    default
      .form__control 
        label(class=`form__label ${control.classes}`) 
          span= control.text
          +inputCustom(control.input)

mixin formBasic(form)
  form(action="#", class=`form form-basic ${form.classes}`)
    fieldset.form__fieldset 
      if form.legend
        legend.form__legend= form.legend
      if form.para
        p.form__para= form.para
      each control in form.controls
        +controls(control)

mixin formContact(form)
  form.form-contact(action="#")
    input.form__input.form-contact__input(
      type=form.input.type,
      name=form.input.name,
      placeholder=form.input.placeholder
    )
    .form__cta.form-contact__cta 
      h5.form__cta-title.form-contact__cta-title= form.ctaTitle
      +buttonBasic(form.button.text, form.button.classes)

mixin formCta
  form.form__cta
    i.fa-solid.fa-cart-shopping
    i.fa-solid.fa-magnifying-glass

mixin formSearch
  form.form-search(action="#") 
    input.form-search__input(type="text")
    button.form-search__button(type="submit") 
      i.fa-solid.fa-magnifying-glass.form-search__icon
