include ../common/product-cta
include ../common/guide-path

mixin viewImages
  - const images = ["1", "2", "3", "4"];

  .product-detail__images
    i.fa-solid.fa-arrow-up-long
    ul
      each image in images
        li.product-detail__item
          img.product-detail__image(
            src=`/assets/images/product-detail/${image}.png`,
            alt=image
          )
    i.fa-solid.fa-arrow-down-long

mixin viewProduct
  .product-detail__product
    img(src="/assets/images/product-detail/5.png", alt="5")

mixin viewContent
  - const name = "Lắc tay TYFFANY XU HƯỚNG MỚI NHẤT";
  - const code = "TYFFANY MS 3201";
  - const newPrice = "955.000đ";
  - const oldPrice = "999.000đ";
  - const para = 'Không thế phủ nhận, thời trang và phong cách chính là "tuyên ngôn" không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sảm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận đế phải đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Đế F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngai chi tiêu "mạnh tay" để sở hữu những món đồ yêu thích.';

  .product-detail__content
    .product-detail__info
      h1.product-detail__name= name
      span.product-detail__code= code
      .product-detail__price
        strong.product-detail__price-new= newPrice
        span.product-detail__price-old= oldPrice
      p.product-detail__para= para
    form.product-detail__form
      .product-detail__fieldset
        label.product-detail__label(for="input-color") Màu sắc
        input#input-color.product-detail__input(type="text", name="input-color")
      .product-detail__fieldset
        label.product-detail__label(for="input-size") Size
        input#input-size.product-detail__input(type="text", name="input-size")
      .product-detail__fieldset.product-detail__fieldset-amount
        label.product-detail__label(for="input-amount") Số lượng
        input#input-amount.product-detail__input(type="text", name="input-amount")
      +productCta
    .product-detail__share 
      p.product-detail__share-label Shipping &amp;
        span  Returns
      img(src="/assets/images/product-detail/6.png", alt="6")

mixin view
  - const paths = ["Home", "Sản phẩm", "Trang sức", "Lắc tay"];

  section.product-detail__view
    +guidePath(paths)
    .product-detail__main
      +viewImages
      +viewProduct
      +viewContent
