//- - const product = [{'product.png', 'Ao so mi nam', '120000d'}];
//- each item in menuItems
//- mixin menuDropdown
//-   - let i = 1;
//-   ul.dropdown-menu(aria-labelledby="navbarDropdown")
    //- li(class=`menu-${i++}`)
    //-   img.menu__item-image(src="", alt="cart image")
    //-   .item-left
        //- .item__product Ao so mi nam
        //- strong.item__price 120,000đ

mixin formCta
  form.form__cta
    i.fa-solid.fa-cart-shopping.form__cart
    i.fa-solid.fa-magnifying-glass.form__seach
//-   a#navbarDropdown.fa-solid.dropdown-toggle(
    href="#",
    role="button",
    data-bs-toggle="dropdown",
    aria-expanded="false"
  )
  //-   +menuDropdown
